* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 50px;
}

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

/* Button Editing */
.btn-contact {
    margin-top: 30px;
}

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.btn-primary {
    font-weight: 600;
    font-size: 15px;
    color: white;
    width: 150px;
    height: 54px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
}

.btn-secondary {
    width: 160px;
    height: 64px;
    border: 1px solid orange;
    margin-left: 30px;
    background-color: #FFF8F3;
    font-weight: 600;
}

/* Banner Part */
.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    letter-spacing: 2px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

/* Main */
/* About Section */
main{
    max-width: 1140px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 130px;
    background: #FFF8F3;
border-radius: 10px;

}
.about-section {

}
.about-title{
    padding-top: 131px;
text-align: center;
font-weight: 700;
font-size: 35px;
}
.about-description{
    font-weight: 400;
font-size: 18px;
padding: 10px 156px;
line-height: 1.5;
}
.table{
 margin: 20px 250px;
}
th{
    padding-right: 10px;
}

/* What i do section */
.whatido-title{
    margin-top: 140px;
font-weight: 700;
font-size: 35px;
line-height: 48px;
text-align: center;
color: #181818;
}
.whatido-description{
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #757575;
margin-top: 30px;
}
.whatido{
    max-width: 1140px;
    height: 500px;
    margin: 0 auto;
}

/* Box design */
.programming-lang{
    margin-top: 50px;
    display: flex;
}
[class^="box-"]{
    width: 267px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    line-height: 2.5;
    margin-right: 30px;
}